@media (max-width: 768px) {

    .profile-content {
        width: unset;
        max-width: 90vw;
        margin-left: 5%;
        font-size: 2em;
    }

    #me {
        margin-left: 30%;
    }

    .edit button {
        margin-left: 25%;
        margin-top: 5em;
        margin-bottom: 3em;
    }
}