
@media (max-width: 768px) {


    .form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper {
        margin-top: 6em;
        width: 70vw;
        margin-left: unset;
        justify-content: center;
        align-items: center;
    }

    .lbl {
        background-color: lightgray;
        padding: 0.2em 0.4em;
        border-radius: 0.5em;
        border: 1px solid #163973;
        color: black;
    }

    .input {
        max-width: 55vw;
    }


}