<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CrystalWorld</title>
</head>
<body>

<header>

    <a  class="home" th:href="@{/}">
        <img th:src="@{/images/logo.crystal.png}" alt="picture" class="media-logo"></a>


    <nav>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <div class="nav">
            <a class="hover" th:href="@{/aboutUs}">ЗА НАС</a>
            <a class="hover" th:href="@{/shop}">МАГАЗИН</a>
            <a class="hover" th:href="@{/register}" sec:authorize="!isAuthenticated()">РЕГИСТРАЦИЯ</a>
            <a class="hover" th:href="@{/login}" sec:authorize="!isAuthenticated()">ВХОД</a>
            <a class="hover" th:href="@{/users/profile}" sec:authorize="isAuthenticated()">ПРОФИЛ</a>  
            <a class="hover" th:href="@{/admin}" sec:authorize="hasAuthority('ADMIN')">АДМИНИСТРАТОР</a>

            <form th:action="@{/logout}" th:method="post" sec:authorize="isAuthenticated()">
                <button type="submit" id="logout-btn">ИЗХОД</button>
            </form>
        </div>
    </nav>

</header>

<footer>
    All rights reserved. © 2024 Velizar Madanski
</footer>

</body>
</html>