@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Playfair Display", serif;
    font-weight: 900;
}

header {
    background-color: black;
}

h2 {
    font-size: 3.3em;
    font-family: "Roboto Light", serif;
    margin: 1.5em auto;
    margin-bottom: 3em;
    background-color: #f2ece4;
    border-radius: 2em;
    max-width: 32vw;
    border: 5px solid #163973;

}

p {
    font-size: 1.5em;
    max-width: 14vw;
    letter-spacing: 1px;
    font-family: "Roboto Light", serif;
    font-weight: 600;
    padding: 0.5em 0.7em;
    border: 4px solid #163973;
    border-radius: 1em;
    margin-bottom: 0.9em;
    margin-top: 1.5em;
    color: black;
}
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    background-image: url("../images/upper-section.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 6em;
    padding-top: 5em;
    border-top: 6px solid #A98351;
}

.top-bar {
    margin-bottom: 0;
}

.categories {
    display: flex;
    gap: 16em;
    justify-content: center;
}

.container {
    max-width: 55vw;
    margin: 0 auto;
    text-align: center;
}

.single-category{
    border: 4px solid #163973;
    text-align: center;
    border-radius: 1em;
}

.wrap-ctg {
    background-color: #f2ece4;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px 7px 7px #163973;
}

.image img{
    aspect-ratio: 1/1;
    display: block;
    max-width: 17vw;
    padding: 1em 0.5em;
}

p:hover {
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    background-color: #6081b7;
    border-color: #6081b7;
    color: #f2ece4;
    box-shadow: 0 0 11px #6081b7;
}

.wrap-ctg:hover {
    box-shadow: 1px 2px 6px 7px #6081b7;
    transition-duration: .6s;
}






