@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Verdana, sans-serif;
}

h1 {
    padding-bottom: 0.9em;
}


img {
    display: block;
}

ul, li, a {
    text-decoration: none;
}

nav ul {
    display: flex;
}


nav a, #logout-btn{
    font-family: "Playfair Display", serif;
    display: block;
    font-weight: bold;
    padding: 1em 1.5em;
    background-color: #A98351;
    color: black;
    letter-spacing: 1px;
    margin: 2.7em 0.8em;
    border-radius: 0.3em;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}

.media-logo {

    margin:  2.4em 3.3em;
    display: block;
    width: 33%;
    height: auto;
}



.first-container {
    background-image: url("../images/background-index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 17em;
    color: antiquewhite;
}

.top-information {
    font-size: 2em;
    font-family: "Playfair Display", serif;
    padding: 3em 7em;
    max-width: 55vw;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hover:hover {
    background-color: #cc9962;
    color: #2c6723;
}

.nav :last-child{
    margin-right: 2em;
}

#logout-btn {
    border: 1px solid black;
}

#logout-btn:hover {
    color: #9b0606;
    background-color: #A98351;
}

footer {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 5px;
    color: rebeccapurple;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 13px;
    text-align: center;
    font-weight: normal;
}

.foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.menu-icon {
    font-size: 2em;
    cursor: pointer;
    display: none;
}

.menu-toggle {
    display: none;
}



@media (max-width: 768px) {
    .menu-icon {
        color: #e3d3eb;
        font-size: 2em;
        display: block;
        margin: 1.2em 1.2em;

    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        opacity: 0.96;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .nav li {
        margin: 0;
    }

    .nav a {
        color: black;
        padding: 0.9em;
        text-align: center;
    }

    .menu-toggle:checked + .menu-icon + .nav {
        display: flex;
    }

    .top-information {
        padding-left: 3em;
        margin-left: 7em;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .top-information p {
        font-size: 1.3em;
        margin-top: 4em;
        margin-bottom: 3em;
    }


}










