@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Verdana, sans-serif;
}

h1 {
    padding-bottom: 0.9em;
}


img {
    display: block;
}

ul, li, a {
    text-decoration: none;
}

nav ul {
    display: flex;
}


nav a, #logout-btn{
    display: block;
    font-weight: bold;
    padding: 1em 1.5em;
    background-color: #A98351;
    color: black;
    letter-spacing: 1px;
    margin: 2.7em 0.8em;
    border-radius: 0.3em;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.media-logo {
    margin: 2em 4em;
    width: 15%;
    height: 15%;
}

.first-container {
    background-image: url("../images/background-index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 17em;
    color: antiquewhite;
}

.top-information {
    font-size: 2em;
    font-family: "Playfair Display", serif;
    padding: 3em 7em;
    max-width: 55vw;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hover:hover {
    background-color: #cc9962;
    color: #2c6723;
}

.nav :last-child{
    margin-right: 2em;
}

#logout-btn {
    border: 1px solid black;
}

#logout-btn:hover {
    color: #9b0606;
    background-color: #A98351;
}


