<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/aboutUs.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/aboutUsResponsive.css}">
</head>
<body>

<header>
    <div class="top-bar">

        <div th:replace="~{fragments/commons::.home}">
        </div>

        <div th:replace="~{fragments/commons::nav}">
        </div>
    </div>
</header>

<section class="container">

    <span id="me"><i class="fa-solid fa-phone"></i>+359892202750</span></p>

    <div class="text-container">

        <p class="first-p">Драги читателю,</p>

        <p>Разглеждайки нашите страници с уникални кристали, минерали и полускъпоценни камъни, вероятно ще се убедиш, че си попаднал на едно магическо и необикновено място.</p>

        <p>Когато човек се вгледа в тези чудеса на природата, си припомня, че живота е много повече от това, което виждаме пред себе си. В тях се усеща невероятна магия, която има силата да изпълни с радост не само очите ни, а и сърцата!</p>

        <p>Камъните се събират на ръка по време на експедиции и всеки от тях носи в себе си по малко от душата на Родопите!</p>

        <p>Предлагаме както непокътнати, така и преработени кристали и минерали. Разгледайте и си намерете Вашият 😊😊😊 !</p>

        <p class="last-p">С най-добри пожелания,
            Екипът на CrystalWorld.</p>
    </div>
</section>

<div class="foot" th:replace="~{fragments/commons::footer}"></div>

</body>
</html>