<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/currentProduct.css}">
</head>
<body>

<header>
  <div class="top-bar">

    <img th:src="@{/images/logo.crystal.png}" alt="picture" class="media-logo">
    <div th:replace="~{fragments/commons::nav}">
    </div>
  </div>
</header>



</body>
</html>