<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrystalWorld</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header>
    <div class="first-container">

        <div class="top-bar">

            <img th:src="@{/images/logo.crystal.png}" class="media-logo">
            <div th:replace="~{fragments/commons::nav}">
            </div>
        </div>

        <div class="top-information">

            <h1>Crystal World</h1>

            <p>Докосни се до красотата на уникалните минерали, кристали и полускъпоценни камъни.</p>
        </div>

    </div>
</header>

</body>
</html>