<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/loginResponsive.css}">
</head>
<body>

<header>
    <div class="top-bar">

        <div th:replace="~{fragments/commons::.home}">
        </div>
        <div th:replace="~{fragments/commons::nav}">
        </div>
    </div>
</header>

<section class="form">
    <div class="wrapper">
        <h3>Вход</h3>
        <span class="invalid" th:if="${invalidCredentials}">Грешно име и/или парола! Ако нямате профил, моля, регистрирайте се!</span>

        <form th:method="post" th:action="@{/login}">
            <div class="username">
                <input class = "input" type="text" name="username" id="login-username" required
                       placeholder="  Въведете Вашето потребителско име">
            </div>

            <div class="pass">
                <input class = "input" type="password" name="password" id="login-password" required
                       placeholder="  Въведете Вашата парола">
            </div>

            <div class="rememberme">
                <label class="lbl" for="rememberme">Запомни ме</label>
                <input type="checkbox" name="rememberme" id="rememberme" class="form-control">
            </div>
            <button class="btn" type="submit">Вход</button>
        </form>
    </div>
</section>

<div class="foot" th:replace="~{fragments/commons::footer}"></div>
</body>
</html>