<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/shop.css}">
</head>
<body>
  <header>
    <div class="top-bar">

      <img th:src="@{/images/logo.crystal.png}" alt="picture" class="media-logo">
      <div th:replace="~{fragments/commons::nav}">
      </div>
    </div>
  </header>

<div class="wrapper">
<section class="container">


    <h2>КАТЕГОРИЯ</h2>


    <section class="categories">

        <div class="wrap-ctg">
            <div class="single-category">
                <a th:href="@{/products/UNPROCESSED}">
                    <div class="image">
                        <img th:src="@{/images/unprocess.jpg}">
                        <p>НЕПРЕРАБОТЕНИ</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="wrap-ctg">
            <div class="single-category">
                <a th:href="@{/products/PROCESSED}">
                    <div class="image">
                        <img th:src="@{/images/process.jpg}">
                        <p>ПРЕРАБОТЕНИ</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>
</div>

</body>
</html>